html, body{
    height: 100%;
    width: 100%;
    margin-left: 0px;
    background-color: black;
}

.parallax{
    height: 125vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#parallax1 {
    background-image: url("actually.jpg");
}

#parallax2 {
    background-image: url("larry.jpg");
}

#middlepanel {
    height: 125vh;
    text-align: center;
    background-color: black;
}

p {
    color: crimson;
    line-height: 125vh;
}