#card {
    background-color: aliceblue;
    margin-left: 38vw;
    margin-right: 38vw;
    margin-top: 15vh;
    border: 5px groove rgb(70, 0, 70);
}

caption {
    caption-side: top;
    font-size: 5vmin;
    border: 5px groove rgb(70, 0, 70);
    border-bottom: none;
    background-color: blanchedalmond;
}

img {
    width: 60%;
}

body {
    display: block;
    margin: auto;
    text-align: center;
    font-family: fantasy;
    background-image: url("background.png");
    background-size: 100vw 100vh;
}

#login {
    font-size: 4vmin;
}

#login, #description, #photo, #logos{
    padding-top: 5%;
}

#logos {
    display: inline-block;
    min-height: 12%;
}

#description {
    font-size: 2vmin;
}

#X {
    max-height: 50px;
}

#contact {
    background-color: black;
    color: white;
    width: 100%;
    height: 8vmin;
    font-size: 3vmin;
    border: none;
}